/**
 * Main color: #0475ba
 * Secondary color: #FFFFFF
 */
body {
    background: #0475ba;
    color: #FFFFFF;
}

.navbar-brand img {
    width: 70px;
}

.instructions {
    margin-top: 30px;
    margin-bottom: 30px;
}

.instructions p {
    color: #AAAAAA;
}

.instructions a {
    color: lightgreen;
}

#exercise {
    position: relative;
    background-color: #FFFFFF;
    padding: 20px;
    color: #000000;
}

#exercise #square {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    background: green;
    position: absolute;
    margin: 10px;
}

#exercise #bg {
    height: 200px;
    width: 200px;
    background-image: url(../img/background.jpg);
    background-size: 600px;
}

.border-top-big {
  border-top: 3px solid #95a5a6;
}

.border-bottom-big {
  border-bottom: 3px solid #95a5a6;
}

.border-left-big {
  border-left: 3px solid #95a5a6;
}

.border-right-big {
  border-right: 3px solid #95a5a6;
}

.border-bottom-light {
  border-bottom: 1px solid #95a5a6;
}

.border-left-light {
  border-left: 1px solid #95a5a6;
}

.border-top-light {
  border-top: 1px solid #95a5a6;
}

.border-bottom-light {
  border-bottom: 1px solid #95a5a6;
}

.sudoku-grid {
  max-width: 500px;
  min-width: 500px;
}

.col-1 {
  height: 40px;
  padding-top: 7px;
}

/* .col-1:hover {
  background-color: #27ae60;
  cursor: default;
} */

.line-column {
  transition: all 0.3s ease-in-out;
}

.line-column:hover {
  background-color: #27ae60;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.btn-success {
  background-color: #27ae60;
  border-radius: 1px;
}

.btn-warning {
  background-color: #e67e22;
  border-radius: 1px;
  color: white;
  border-color: #e8935a;
}

.btn-warning:hover {
  background-color: #d35400;
  color: white;
}