/**
 * Main color: #0475ba
 * Secondary color: #FFFFFF
 */
body {
    background: #0475ba;
    color: #FFFFFF;
}

.navbar-brand img {
    width: 70px;
}

.instructions {
    margin-top: 30px;
    margin-bottom: 30px;
}

.instructions p {
    color: #AAAAAA;
}

.instructions a {
    color: lightgreen;
}

#exercise {
    position: relative;
    background-color: #FFFFFF;
    padding: 20px;
    color: #000000;
}

#exercise #square {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    background: green;
    position: absolute;
    margin: 10px;
}

#exercise #bg {
    height: 200px;
    width: 200px;
    background-image: url(../img/background.jpg);
    background-size: 600px;
}

.border-top-big {
  border-top: 3px solid black;
}

.border-bottom-big {
  border-bottom: 3px solid black;
}

.border-left-big {
  border-left: 3px solid black;
}

.border-right-big {
  border-right: 3px solid black;
}

.border-bottom-light {
  border-bottom: 1px solid black;
}

.border-left-light {
  border-left: 1px solid black;
}

.border-top-light {
  border-top: 1px solid black;
}

.border-bottom-light {
  border-bottom: 1px solid black;
}

.sudoku-grid {
  max-width: 500px;
  min-width: 500px;
}

.col-1 {
  height: 40px;
  padding-top: 7px;
}